@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  /* theme */
  --bg-dark01: #06243F;
  --bg-dark02: #01365E;
  --bg-dark03: #00182c;
  --text-dark01: #ffffff;
  --text-dark02: #E0E0E0;
  --bg-light01: #ffffff;
  --bg-light02: #E0E0E0;
  --bg-light03: #f3f3f3;
  --text-light01: #000b14;
  --text-light02: #01365E;
  --contrast-01: #7dfdff;
  --contrast-02: #b6b9c4;
  --contrast-03: #ff7b00;
  --error-01: #a10000;
  --disabled-01: #E0E0E0;
  /* properties */
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1500px;
  min-width: 310px;
  min-height: 100vh;
  background-color: var(--bg-dark01);
  color: var(--text-dark01);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

p {
  line-height: 1.6rem;
}

#server-check {
  display: none;
  background-color: var(--error-01);
  color: var(--bg-light02);
  padding: .5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1.5rem;
  height: 80px;
}

#nav a {
  text-decoration: none;
}

#nav-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#user-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profile-pic {
  border-radius: 50%;
  border: 2px solid var(--contrast-01);
  box-shadow: rgba(0, 0, 0, 0.541) 0px 13px 27px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
}

#home-title {
  color: var(--text-dark01);
  font-weight: 600;
  font-size: 1.4rem;
}

.header-action {
  background-color: var(--bg-dark01);
  border: 1px solid var(--contrast-01);
  color: var(--bg-light01);
  border-radius: .4rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  font-weight: 500;
  width: 130px;
  cursor: pointer;
  justify-self: end;
  margin-right: 1.5rem;
  transition: background-color .3s;
}

#register-btn:hover {
  background-color: var(--bg-dark02);
}

#register-btn:active {
  background-color: var(--contrast-01);
}

#strip {
  width: 100%;
  height: 10px;
  background-color: var(--bg-dark02);
}

main {
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 6rem;
}

main h2 {
  font-weight: 600;
  font-size: 3.8rem;
}

#wrapper01,
#wrapper02 {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  padding: 1.5rem;
}

#wrapper01 {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 1.5rem;
}

#wrapper01-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--contrast-01);
  border-radius: .5rem;
  padding: 1rem;
  width: 70%;
  min-width: 350px;
}

.tech-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

#wrapper02 {
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-light01);
  color: var(--text-light01);
  border-radius: .4rem;
  padding: 3.5rem 2.8rem;
  height: fit-content;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: .5rem;
  position: relative;
}

input {
  margin: .3rem 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea
{
  font-family: 'Montserrat', sans-serif;
  height: 3rem;
  padding-left: .7rem;
  border: none;
  border-bottom: 1px solid rgb(143, 143, 143);
  border-radius: .3rem;
  color: rgb(31, 31, 31);
  background-color: var(--bg-light03);
  transition: border-bottom .4s;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--contrast-01);
  background-color: var(--bg-light01);
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="email"]:focus::placeholder
select:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
  padding-left: 0rem;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
select::placeholder {
  font-size: .9rem;
  color: rgb(161, 161, 161);
}

/* button type 1 */
input[type="submit"],
button {
  background-color: var(--contrast-01);
  border: none;
  color: var(--text-light01);
  border-radius: .2rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color .3s;
  width: 100%;
  margin-top: .5rem;
  box-sizing: border-box;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  background-color: var(--bg-dark02);
  color: var(--bg-light01);
  border: 1px solid var(--contrast-01);
  box-sizing: border-box;
}

input[type="submit"]:active,
button:active {
  background-color: var(--bg-dark03);
}

input[type="submit"]:disabled {
  border: none;
  background-color: var(--disabled-01);
  color: var(--text-light02);
  cursor: default;
}

#select-wrapper {
  width: 230px;
}

select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  width: 230px;
  background: url('../assets/selecter.svg') 0 0 no-repeat;
}

select option {
  background-color: var(--bg-light02);
  color: var(--bg-dark03);
  font-size: 1.1rem;
  font-weight: 400;
}

/* button type 2 */
#user-btn-wrap .button2 {
  background-color: var(--bg-dark01);
  border: 1px solid var(--contrast-01);
  color: var(--bg-light01);
}

#user-btn-wrap .button2:hover,
button:hover {
  cursor: pointer;
  background-color: var(--contrast-01);
  color: var(--text-light01);
  border: 1px solid var(--contrast-01);
}

#user-btn-wrap .button2:active,
button:active {
  background-color: var(--bg-dark02);
}

#user-btn-wrap .button2:disabled {
  border: none;
  background-color: var(--disabled-01);
  color: var(--text-light02);
  cursor: default;
}

/*  */
input:focus:invalid, 
textarea:focus:invalid {
  border-bottom: 1px solid var(--error-01);
}

.error-span {
  color: var(--error-01);
  font-weight: 500;
  display: none;
}

#password-error,
#username-error,
#email-error {
  font-size: .8rem;
  align-self: flex-start;
}

.loadingspinner {
  display: none;
	pointer-events: none;
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid transparent;
	border-color: var(--text-dark02);
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

#spinner02,
#spinner03,
#spinner04,
#spinner05,
#checkmark01,
#checkmark02,
#checkmark03,
#checkmark04,
#exmark02,
#exmark03,
#exmark04 {
	position: absolute;
	right: -6%;
	top: 8%;
	display: none;
}

#checkmark01,
#checkmark02,
#checkmark03,
#checkmark04 {
  font-weight: 900;
	color: green;
	font-size: 1.4rem;
	top: 5%;
}


#checkmark02,
#checkmark03,
#checkmark04 {
	top: -25%;
	left: 0;
}

#spinner03,
#spinner04,
#spinner05,
#exmark02,
#exmark03,
#exmark04 {
	top: 0;
	left: 0;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

@media (max-width: 1090px) {
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  #wrapper01,
  #wrapper02 {
    align-items: center;
    text-align: center;
    max-width: none;
  }

  #wrapper02 {
    max-width: 500px;
    margin-top: .5rem;
  }

  #wrapper01-1 {
    padding: 2rem 0;
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  main {
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  #home-title {
    font-size: 1rem;
  }

  #register-btn {
    font-size: .8rem;
    width: auto;
    padding: 0 .8rem;
  }

}