body {
  position: relative;
}

/* add/update user */
#users {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 3rem;
  box-sizing: border-box;
}

#users-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-light01);
  color: var(--text-light01);
  border-radius: .4rem;
  width: calc(100% - 4rem);
  height: 380px;
  max-width: 1000px;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#form-right-side {
  border: 1px solid var(--contrast-02);
  border-radius: .4rem;
  width: 310px;
  min-width: 310px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

input {
  width: calc(100% - 1rem);
}

#picture {
  display: none;
}

#close-icon {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .15s ease-out;
  box-shadow: rgba(0, 0, 0) 0px 1px 1px -10px, rgb(0, 0, 0) 3px 3px 27px -10px;
}

#close-icon:hover {
  background-color: var(--error-01);
  cursor: pointer;
  color: var(--bg-light01);
}

#user-btn-wrap {
  display: flex;
  gap: .5rem;
}

#form-left-side {
  flex-grow: 1;
}

#checkmark01 {
  right: 3%;
  top: 14px;
}

#email-spinner {
  position: absolute;
  top: 20px;
  right: 3%;
}

#email-container {
  position: relative;
}

/* button type 2 */
.button2 {
  background-color: var(--bg-dark01);
  border: 1px solid var(--contrast-01);
  color: var(--bg-light01);
}

.button2:hover,
button:hover {
  cursor: pointer;
  background-color: var(--contrast-01);
  color: var(--text-light01);
  border: 1px solid var(--contrast-01);
}

.button2:active,
button:active {
  background-color: var(--bg-dark02);
}

.button2:disabled {
  border: none;
  background-color: var(--disabled-01);
  color: var(--text-light02);
  cursor: default;
}

/*  */

#manage-users {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: var(--bg-dark03);
  box-shadow: rgba(0, 0, 0, 0.541) 0px 13px 27px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
  gap: 1rem;
  width: 300px;
  border-radius: .4rem;
  padding: 1.5rem;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-light02);
  position: relative;
}

.role-wrapper {
  font-weight: 600;
  position: absolute;
  top: 5%;
  left: 7%;
  width: 110px;
  text-align: center;
  background-color: var(--contrast-03);
  color: var(--text-dark01);
  padding: .2rem 0;
  padding-bottom: .4rem;
  border-radius: .2rem;
}

.circle {
  border: 1px solid var(--contrast-01);
  border-radius: 50%;
  padding: .8rem;
  padding-bottom: .6rem;
}

.profile-pic {
  border-radius: 50%;
}

.card h3 {
  margin-top: .5rem;
  font-weight: 600;
  font-size: 1.7rem;
}

.buttons-wrapper {
  display: flex;
  gap: .4rem;
  width: 90%;
}

#manage-users h2 {
  font-size: 2rem;
}

.options {
  display: flex;
  gap: .5rem;
}

.options button {
  width: 150px;
}

button:hover {
  background-color: var(--bg-dark02);
  color: var(--bg-light01);
  border: 1px solid var(--contrast-01);
  box-sizing: border-box;
}

button:active {
  background-color: var(--bg-dark03);
}

@media (max-width: 800px) {
  form {
    flex-direction: column;
    align-items: center;
  }
}