main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#wrapper02 {
  margin-top: 1rem;
}

.loadingspinner {
	pointer-events: none;
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid transparent;
	border-color: var(--text-dark02);
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

#spinner02,
#checkmark {
	position: absolute;
	right: -6%;
	top: 8%;
	display: none;
}

.wrapper02-1 {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#submit-btn:disabled {
  background-color: var(--disabled-01);
  color: var(--contrast-01);
}

#password-error,
#username-error {
  font-size: .8rem;
  align-self: flex-start;
}

#error-list {
	text-align: left;
	list-style: none;
	padding: 0;
	color: var(--error-01);
  font-weight: 500;
}

#checkmark {
	font-weight: 900;
	color: green;
	font-size: 1.4rem;
	top: 5%;
}