main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#wrapper02 {
	margin-top: 1rem;
}

.wrapper02-1 {
	display: flex;
	align-items: center;
	gap: .5rem;
}

#error-list {
	text-align: left;
	list-style: none;
	padding: 0;
	color: var(--error-01);
	font-weight: 500;
}

#populate-wrapper {
	display: flex;
	align-items: center;
	gap: .3rem;
	margin: .2rem;
	margin-bottom: .5rem;
}

#wrapper02-2 {
	text-align: start;
	align-self: flex-start;
	display: none;
}

#wrapper02-2 ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

#wrapper02-2 ul li {
	position: relative;
	display: flex;
	gap: .5rem;
	padding-left: 1.5rem;
}

#wrapper02-2 #all-ready-redirecting {
	display: none;
}